.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent; /* atau ganti dengan warna lain sesuai tema */
  font-family: Arial, sans-serif;
}
